

<main>


  <div class="row" id='add_edit'>
    <div class="col-xs-12 border_div">
        <form  *ngIf="ProductForm" (ngSubmit)="onSubmit()" [formGroup]="ProductForm" > 
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" [formControlName]="'name'">
                <span class='help-block' *ngIf="!ProductForm.get('name').valid && ProductForm.get('name').touched">Please Enter a valid name.</span>
              </div>
            </div>
          </div>
       
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="image">Image Url</label>
                <input type="text" id="image"   class="form-control" [formControlName]="'image'">
                <span class='help-block' *ngIf="!ProductForm.get('image').valid && ProductForm.get('image').touched">Please Enter a valid Image Url.</span>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="number" id="price" step="0.01"  class="form-control" [formControlName]="'price'">
                  <span class='help-block' *ngIf="!ProductForm.get('price').valid && ProductForm.get('price').touched">Please Enter a valid price.</span>
                </div>
              </div>
            </div>
         
              <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="description">Quantity</label>
                      <input type="number" id="description" class="form-control"  [formControlName]="'quantity'" >
                      <span class='help-block' *ngIf="!ProductForm.get('quantity').valid && ProductForm.get('quantity').touched">Please Enter a valid quantity</span>
                    </div>
                  </div>
                </div>
            <div class="row">
                <div class="col-xs-12">
                  <button  type="submit" type="submit" [disabled]="!ProductForm.valid" class="btn btn-successs">{{edit_mode?'Edit':'Save'}}</button>
                  <span></span>
                  <button type="submit" [disabled]="!ProductForm.valid" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
  
  </div>
  
  </main>